<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Chi tiết phôi</strong>
                <div class="card-header-actions">
                    <a class="card-header-action" href="javascript:void(0)" (click)="backlist()"
                       target="_blank"><i class="fa fa-arrow-left fa-lg"></i> Quay lại</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12 mb-4">
                    <!-- Nav tabs -->
                    <tabset>
                        <tab>
                            <ng-template tabHeading><i class="icon-list"></i> Thông tin cơ bản</ng-template>
                            <app-base-detail-info></app-base-detail-info>
                        </tab>
                        <tab>
                            <ng-template tabHeading><i class="icon-picture"></i> Ảnh mặc định</ng-template>
                            <app-base-detail-picture></app-base-detail-picture>
                        </tab>
                        <tab>
                            <ng-template tabHeading><i class="icon-docs"></i> Mockup</ng-template>
                            <app-base-detail-mockup></app-base-detail-mockup>
                        </tab>
                        <tab>
                            <ng-template tabHeading><i class="icon-pie-chart"></i> Pattern</ng-template>
                            <app-base-detail-pattern></app-base-detail-pattern>
                        </tab>
                    </tabset>
                </div><!--/.col-->
            </div>
            <div class="card-footer text-right">
                <div class="card-footer-actions">
                    <a class="card-header-action" href="javascript:void(0)" (click)="backlist()"
                       target="_blank"><i class="fa fa-arrow-left fa-lg"></i> Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->