<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Thêm mới phôi</strong>
                <div class="card-header-actions">
                    <a class="card-header-action" href="javascript:void(0)" (click)="backlist()"
                       target="_blank">Quay lại</a>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="code">Mã phôi</label>
                        <div class="col-md-9">
                            <input type="text" id="code" name="code" class="form-control"
                                   placeholder="Mã phôi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="name">Tên phôi</label>
                        <div class="col-md-9">
                            <input type="text" id="name" name="name" class="form-control"
                                   placeholder="Tên phôi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="price_base">Giá phôi (VNĐ)</label>
                        <div class="col-md-9">
                            <input type="text" id="price_base" name="price_base" class="form-control"
                                   placeholder="Giá phôi (VNĐ)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="price">Giá thành phẩm (VNĐ)</label>
                        <div class="col-md-9">
                            <input type="text" id="price" name="price" class="form-control"
                                   placeholder="Giá thành phẩm (VNĐ)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="description">Mô tả</label>
                        <div class="col-md-9">
                            <textarea id="description" name="description" rows="5" class="form-control"
                                      placeholder="Mô tả ..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="img">Ảnh phôi</label>
                        <div class="col-md-9">
                            <input type="text" id="img" name="img" class="form-control"
                                   placeholder="Đường dẫn ảnh phôi">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="img">Ảnh phôi</label>
                        <div class="col-md-9">
                            <input type="file" id="picked" #picked
                                   (click)="message=''"
                                   (change)="onPicked(picked)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Trạng thái</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="checkbox" id="status" name="status" value="1">
                                <label class="form-check-label" for="status">Hoạt động</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cập nhật
                </button>
            </div>
        </div>
    </div>
</div><!--/.row-->